.modal{
    z-index: 10000000000;
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.content{
    text-align: center;
    background-color: #fff;
    padding: 45px;
    color: black;
}
.option{
    margin-top: 10px;
    justify-content: space-between;
    display: flex;
}
.exit{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    background-color: green;
}
.cancel{
    cursor: pointer;
    border: 1px solid black;
    padding: 5px;
    background-color: red;
}